modules = ["python-3.11", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cargo", "libiconv", "libxcrypt", "openssl", "pkg-config", "postgresql", "rustc"]

[workflows]

[userenv]

[userenv.shared]
MAIN_FAPCOIN_GROUP = "-1003006076902"
